.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  background: lightblue;
  padding: 10px;
}
.rightNav {
  display: flex;
  flex-direction: row;

}
.menu {
 display: flex;
 gap: 1em;
 font-size: 18px;
}
img {
  width: 100%;
}
input[type=checkbox]{
 display: none;
}
.hamburger {
 display: none;
 font-size: 24px;
 user-select: none;
}
.aboutRow, .contactsElemRow, .contactsRow, .footer {
  display: flex;
  flex-direction: row;
}
.contactsRow {
  justify-content: space-between;
}
.about{
  align-items: center;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.aboutRow {
  justify-content: center;
  align-items: center;
  width: 100%;
}
.aboutElem{
  width: 100%;
}
.rwInverse {
  flex-direction: row-reverse;
}
.aboutCor{

  display: flex;
  align-items: center;
  flex-direction: column;
}
.aboutHeader, .aboutTxt {
  margin: 50px;
}
body {
  margin: 0;
  padding: 0;
}
.navElem {
  background: lightblue;
  margin: 0 10px;
}
.navElem:hover{
  background: blue;
}
.book {
  display: flex;
  align-items: center;
  flex-direction: column;

}
.footer {
  justify-content: space-around;
}
.contactsElem{
  align-items: center;
  width: 100%;
}
.contactsLabel {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 30px;

}
.contactsElemRow {
  display: flex;
  flex-direction: row;
  padding: 15px;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}

.imgExample{
  background: url('../img/img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 540px;
  width: 50%;
}
.vidExample {
  background: url('../img/vid.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 540px;
  width: 50%;
}
.faqAcc {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: solid black 0.3px;
  outline: none;
  transition: 0.4s;
}
.active, .faqAcc:hover {
  background-color: #ccc;
}
.faqContent {
  padding: 0 18px;
  background-color: white;

  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
.holderOfFive {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.faqAcc:after {
  content: '\02795';
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.formRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
input {
  margin: 10px;
}
textarea {
  margin: 10px;
}
.modal-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.modalHead {
  justify-content: space-between;
}
.modal-label{
  font-size: 25px;
  font-weight: 900;
}
.modal-form {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.holderOfSix {
  display: flex;
  flex-direction: row;

}
.tElem {
  height: 200px;
}
th, td {
  padding: 30px;
}
.co1{
  background: blue;
}
.co2{
  background: green;
}
.co3{
  background: grey;
}
.co4{
  background: yellow;
}
.adapted{
  display: none;
}
@media (max-width: 768px) {
.menu {
 display:none;
 position: absolute;
 background-color:teal;
 right: 0;
 left: 0;
 text-align: center;
 padding: 16px 0;
}
.adapted{
  display: block;
}
table {
  display: none;
}
.holderOfFive {
  height: 1080px;
}
.formRow {
  flex-direction: column;
}
.menu div:hover {
 display: inline-block;
 background-color:#4c9e9e;
 transition: 0.3s ease;
}
.menu div + div {
 margin-top: 12px;
}
input[type=checkbox]:checked ~ .menu{
 display: block;
}
.hamburger {
 display: block;
}

.aboutRow, .contactsRow, .footer {
  display: flex;
  flex-direction: column;
}
.contactsRow {
  justify-content: space-between;
}
.footer {
  align-items: center;
}
.rwInverse {
  flex-direction: column;
}
.holderOfFive {
  flex-direction: column;
}
}
